NODE_ENV=development
PORT=5000
MONGO_URI=mongodb+srv://your_user:your_password@cluster.mongodb.net/fintracker?retryWrites=true&w=majority
JWT_SECRET=replace_with_a_strong_random_secret_minimum_32_characters
CLIENT_URL=http://localhost:5173
CG_API_KEY=your_coingecko_api_key
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
GOOGLE_REDIRECT_URI=postmessage
RESEND_API_KEY=your_resend_api_key
VITE_WS_URL=wss://stream.binance.com:9443/ws
VITE_API_URL=http://localhost:5000
